*, *::before, *::after {
  box-sizing: border-box;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

input, button, select {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-radius: 0.3rem;
    margin: 0.2rem;
    transition: 0.1s;
    padding: 0.5rem;
}

input:hover, button:hover, select:hover{
    background-color: rgb(77, 0, 71);
}

body {
    background-color: rgb(27, 0, 25);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 90vh;
}

.main {
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(153, 153, 153);
    padding: 2rem;

    flex-direction: row;
    justify-content: center;
}

/*  ================= TABLE NAVIGATOR ================== */

.table_nav_container{
    width: 1000px;
    overflow: auto;
    display: flex;
}

.table_nav_table_wrapper {
    width: 100%;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(153, 153, 153);
    border-width: 0.1rem;
    padding: 1rem;
    margin: 0.5rem;
}

.table_nav_new_table {
    background-color: rgb(44, 0, 41);
}

.table_nav_table_wrapper .table_nav_table_name {
    font-weight: bold;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.table_nav_table_wrapper .table_nav_table_inputs button,
.table_nav_table_wrapper .table_nav_table_inputs button,
.table_nav_table_wrapper .table_nav_table_inputs input,
.table_nav_table_wrapper .table_nav_table_inputs input {  
    width: 8rem;
}

/*  ================= TABLE ================== */

table, table th, table td {
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
    border-width: 0.15rem;
    padding: 0.5rem;
}

.table_container{
    overflow: auto;
    max-width: 50rem;
    display: flex;
}

.table_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;

}

.table_column_h {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_column_h button {
    width: 5rem;
    height: 1.5rem;
    padding: 0;
}

.table_add_row_td button {
    width: 8rem;
}

.table_name_h {
    font-size: x-large;
    font-weight: 800;
    background-color: rgb(44, 0, 41);;
}

.table_edit_row_td {
    width: 100%;
}

.column_input_component{
    display: flex;
    flex-direction: column;
}

.column_input_component input, .column_input_component select{
    width: 6rem;
}

.column_input_component button{
    width: 3rem;
}

.column_input_component input, .column_input_component select, .column_input_component button {
    padding: 0.1rem;
}

.column_input_component .ci_container {
    display: flex;
    flex-direction: row;
}

.column_input_component .ci_inputs {
    display: flex;
    flex-direction: column;
}